.ghl-widget {
  width: 100%;
  box-sizing: border-box;
}

.ghl-widget-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ghl-widget-grid {
  display: grid;
  grid-template-columns:
    repeat(3, minmax(0, 1fr));
  gap: 16px;
}

.ghl-widget-item {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 6px;
}

.ghl-widget.layout-small-carousel,
.ghl-widget.layout-carousel,
.ghl-widget.layout-full-carousel {
  width: 100vh;
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scroll-behavior: auto;
}


.ghl-widget.layout-small-carousel .ghl-widget-item {
  min-width: 180px;
}

.ghl-widget.layout-carousel .ghl-widget-item {
  min-width: 280px;
}

.ghl-widget.layout-full-carousel .ghl-widget-item {
  min-width: 100%;
}


.toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.toggle input {
  display: none;
}

.slider {
  width: 40px;
  height: 22px;
  background: #ccc;
  border-radius: 20px;
  position: relative;
  transition: 0.2s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 2px;
  top: 2px;
  background: white;
  border-radius: 50%;
  transition: 0.2s;
}

.toggle input:checked+.slider {
  background: #4f46e5;
}

.toggle input:checked+.slider::before {
  transform: translateX(18px);
}